@import './styles/modern-normalize.css';
$padding: 12px;
$doublePadding: 24px;
// $baseFontSize: 15;
// $scale: .45;
// @import './styles/typebase';

#pz-email-builder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, .75);
  height: 100vh;
  background: whitesmoke;

  display: flex;
  flex-direction: column;


  & > div {
    border: 1px solid gainsboro;
    background: white;
    height: 100%;
  }

  .builder {
    flex: 1;
    
    display: flex;
    & > * {
      flex: 1;
      & + * { border-left: 1px solid gainsboro }
    }
  }
  .controlContainer {
    height: 100%;
    // padding: $doublePadding;
    &.preview { padding: 0; }
  }
  .control {
    position: relative;
    
    &Nav {
      position: absolute;
      top: 0;
      z-index: 999;
      padding: $padding;
  
      & > * + * { margin-left: $padding; }
  
      &.builderNav { right: 0; }
      
      &.viewNav {
        right: 0;
        bottom: 0;
        top: auto;
      }
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  .preview {
    margin: 0 auto;
    max-width: 100%;
    transition: max-width 300ms ease;
    &.mobile {
      max-width: 320px;
      /* max-height: 480px; */
    }
  }

  .appbar {
    box-shadow: none;
  }

  .active {
    background: gainsboro;
  }

  @media (min-width: 960px) {
    .MuiContainer-root {
      padding-left: $doublePadding;
      padding-right: $doublePadding;
    }
  }
}